* 
.body {
    margin: 0;
    padding: 0;
    
  }
  
  .header1 {
    background: gray;
    padding: 2%;
  }
  
  .unorderedList1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    color: black;
  }
  
  .list a {
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    color: black;
  }
  
  .list a:hover {
    background: white;
  }

  .section1{
    background-image: url(aa2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

  }